  
    table {
      border-collapse: collapse;
	  box-shadow: 5px 5px 5px #999
    }
    td {
		border: 1px dashed;
        width: 75px;
        height: 75px;
        box-sizing: border-box;
    }
	.green { background: #00FF00; } /* Green background for green squares */
	.blue { background: #0000FF; } /* Blue background for blue squares */
	img{
		width: 50px;
		height: 50px;
		background-size: cover; /* or use 'contain' based on your preference */
		display:table-cell;	
		background: #00FF00;	
		background-repeat: no-repeat;
		background-size: 75% 75%;
	}
	.logo {
		width: 332px;
		height: 126px;
	}
	.image1 {
        background-image: url('../images/image1.jpg');
    }
		
	.image2 {
        background-image: url('../images/image2.jpg');
	}
	
	.image3 {
        background-image: url('../images/image3.jpg');
    }
		
	.image4 {
        background-image: url('../images/image4.jpg');
	}
	.image5 {
        background-image: url('../images/image5.jpg');
    }
		
	.image6 {
        background-image: url('../images/image6.jpg');
	}
	.image7 {
        background-image: url('../images/image7.jpg');
    }
		
	.image8 {
        background-image: url('../images/image8.jpg');
	}
	.image9 {
        background-image: url('../images/image9.jpg');
    }
		
	.flag {
        background-image: url('../images/flag.jpg');
    }
		
	.bomb {
        background-image: url('../images/bomb.jpg');
	}
	.enemy {
        
		background-image: url('../images/enemy.jpg');	
	}

	.board_piece {
		background-color: #00FF00;	
		background-repeat: no-repeat;
		background-position: center;
		background-size: 85% 85%;
	}
	
	
	body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
